<header>
		<div class="nav">
			<a href="#default"><img src="https://www.logoground.com/uploads6/dv6y201963902019-01-114271107green%20shield-01.jpg"></a>
			<ul>
				<li><a href="">Home</a></li>
				<li><%= link_to "About", about_path%></li>
				<li><a href="">Our team</a></li>
				<li><a href="">Contacts</a></li>
			</ul>
		</div>
	</header>
	<main>
		
	</main>
	<footer>
		<p> я подвал </p>
	</footer>
	
